<div class="fields">
	<p>
		<strong>Dropdown</strong>
		<%= link_to_remove_fields "remove", f %>
	</p>
	<p>
	  Sub-question: <%= f.text_field :sub_question %>
	</p>
	<% f.fields_for :dropdown_definitions do |ddef_builder| %>
		<%= render 'dropdown_definition_fields', :f => ddef_builder %>
	<% end %>
	<p><%= link_to_add_fields "Add definition", f, :dropdown_definitions %></p>
	
	<% if f.object.new_record? %>
    <%= f.hidden_field :position, :class => "position_field" %>
  <% end %>
</div>