<% form_for @exercise  do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :chapter %><br />
		<% if @exercise.chapter.blank? %>
	    <%= f.text_field :chapter %>
		<% else %>
			<%= f.text_field :chapter, :disabled => "true" %>
		<% end %>
  </p>
  <p>
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </p>

	<p><strong>Help</strong></p>
	<p>
		Wrap headings in &lt;h1&gt;&lt;/h1&gt;. Use &lt;i&gt;&lt;/i&gt; for italic
		and &lt;b&gt;&lt;/b&gt; for bold text.
	</p>
	<p>
		<%= f.text_area :help %>
	</p>
	
	<hr />
		
	<% unless @type_order.nil? %>
		<% @type_order.each do |type| %>
			
			<% if type.class == MultipleChoice %>
				<% f.fields_for :multiple_choices, type do |mc_builder| %>
					<%= render "multiple_choice_block", :f => mc_builder %>
				<% end %>
			<% end %>
			
			<% if type.class == SingleChoice %>
				<% f.fields_for :single_choices, type do |sc_builder| %>
					<%= render "single_choice_block", :f => sc_builder %>
				<% end %>
			<% end %>
			
			<% if type.class == Marktext %>
				<% f.fields_for :marktexts, type do |mt_builder| %>
					<%= render "marktext_block", :f => mt_builder %>
				<% end %>
			<% end %>
			
			<% if type.class == Cloze %>
				<% f.fields_for :clozes, type do |c_builder| %>
					<%= render "cloze_block", :f => c_builder %>
				<% end %>
			<% end %>
			
			<% if type.class == Dropdown %>
				<% f.fields_for :dropdowns, type do |dd_builder| %>
					<%= render "dropdown_block", :f => dd_builder %>
				<% end %>
			<% end %>
			
		<% end %>
	<% end %>
	
	<br />
	<p>
		<%= link_to_add_type "Add Multiple Choice", f, :multiple_choices %> |
		<%= link_to_add_type "Add Single Choice", f, :single_choices %> |
		<%= link_to_add_type "Add Marktext", f, :marktexts %> |
		<%= link_to_add_type "Add Cloze", f, :clozes %> |
		<%= link_to_add_type "Add Dropdown", f, :dropdowns %>
	</p>
	
	<hr />
	<p><%= f.submit %></p>
	<hr />
<% end %>

