<% form_for @exercise, :html => { :id => "exercise_form" }  do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %><em> (optional)</em>
  </p>
  <p>
    <%= f.label :chapter %><br />
    <%= f.text_field :chapter %>
  </p>
  <p>
    <%= f.label :question %><br />
    <%= f.text_area :question %>
  </p>

	<p><strong>Help</strong></p>
	<p>
		Wrap headings in &lt;h1&gt;&lt;/h1&gt;. Use &lt;i&gt;&lt;/i&gt; for italic
		and &lt;b&gt;&lt;/b&gt; for bold text.
	</p>
	<p>
		<%= f.text_area :help %>
	</p>
	
	<hr />
	
	<% @type_sequence.each do |type| %>
	  <% if type.class == Cloze %>
      <% f.fields_for :clozes, type do |cloze_buidler| %>
        <%= render "cloze_fields", :f => cloze_buidler %>
      <% end %>

    <% elsif type.class == Dropdown %>
      <% f.fields_for :dropdowns, type do |dropdown_buidler| %>
        <%= render "dropdown_fields", :f => dropdown_buidler %>
      <% end %>
  
    <% elsif type.class == Marktext %>
      <% f.fields_for :marktexts, type do |marktext_builder| %>
        <%= render "marktext_fields", :f => marktext_builder %>
      <% end %>
    
    <% elsif type.class == MultipleChoice %>
      <% f.fields_for :multiple_choices, type do | multiple_choice_builder | %>
        <%= render "multiple_choice_fields", :f => multiple_choice_builder %>
      <% end %>
    
    <% elsif type.class == SingleChoice %>
      <% f.fields_for :single_choices, type do | singel_choice_builder | %>
        <%= render "single_choice_fields", :f => singel_choice_builder %>
      <% end %>
    <% end %>
  <% end %>
  
	
	<br />
	<p>
		<%= link_to_add_fields "Add Multiple Choice", f, :multiple_choices %> |
		<%= link_to_add_fields "Add Single Choice", f, :single_choices %> |
		<%= link_to_add_fields "Add Marktext", f, :marktexts %> |
		<%= link_to_add_fields "Add Cloze", f, :clozes %> |
		<%= link_to_add_fields "Add Dropdown", f, :dropdowns %>
	</p>
	
	<hr />
	<p><%= f.submit %></p>
	<hr />
<% end %>

