<div class="fields">
	<p>
		<strong>Single Choice</strong>
		<%= link_to_remove_fields "remove", f %>
	</p>
	<p>
	  Sub-question: <%= f.text_field :sub_question %>
	</p>
	<p>Please select only one checkbox</p>
	<p><%= link_to_add_fields "Add option", f, :single_choice_options %></p>
	<% f.fields_for :single_choice_options do |sc_builder| %>
		<%= render "single_choice_option_fields", :f => sc_builder %>
	<% end %>
	
	<% if f.object.new_record? %>
    <%= f.hidden_field :position, :class => "position_field" %>
  <% end %>
</div>