<% title "Exercises" %>
<p><%= link_to "New Exercise", new_exercise_path %></p>
<ul id="exercises">
	<% for exercise in @exercises %>
		<li id="exercise_<%= exercise.id %>">
		  <p>
		    <span class="handle">[drag]</span>
			<strong><%= exercise.chapter %> <%= exercise.title %></strong>
			<%= link_to "Show", exercise %>
			<%= link_to "Edit", edit_exercise_path(exercise) %>
			<%= link_to "Duplicate", duplicate_exercise_path(exercise) %>
			<%= link_to "Destroy", exercise, :confirm => "Are you sure?", :method => "delete" %>
			</p>
		</li>
	<% end %>
</ul>

<p><%= link_to "New Exercise", new_exercise_path %></p>
<p><%= link_to "Export Exercises",exercises_path(:zip)%></p>

<% content_for :javascript do %>
  <% javascript_tag do %> 
   
    $(document).ready(function(){
      $('#exercises').sortable({
        axis: 'y',
        dropOnEmpty: false,
        handle: '.handle',
        items: 'li',
        opacity: 0.4,
        scroll: true,
        update: function(){
          $.ajax({
            type: 'post',
            data: $('#exercises').sortable('serialize'),
            dataType: 'script',
            url: '/iliaslight/exercises/sort'}) // URL must be customized for environment
          }
        });
      });
  <% end %>
<% end %>