<% title "Exercises" %>

<ul>
	<% for exercise in @exercises %>
		<li>
			<strong><%= exercise.chapter.split("#").first %> <%= exercise.title %></strong>
			<%= link_to "Show", exercise %>
			<%= link_to "Edit", edit_exercise_path(exercise) %>
			<%= link_to "Duplicate", duplicate_exercise_path(exercise) %>
			<%= link_to "Destroy", exercise, :confirm => "Are you sure?", :method => "delete" %>
		</li>
	<% end %>
</ul>

<p><%= link_to "New Exercise", new_exercise_path %></p>
