<% title "Exercise" %>

<p>
  <strong>Title:</strong>
  <%=h @exercise.title %>
</p>
<p>
  <strong>Chapter:</strong>
  <%=h @exercise.chapter.split("#").first %>
</p>
<p>
  <strong>Question:</strong>
  <%=h @exercise.question %>
</p>

<p>
	<%= link_to "Preview", "/html/#{@exercise.chapter.split(".").join("_")}.html"%>
</p>

<p>
  <%= link_to "Edit", edit_exercise_path(@exercise) %> |
  <%= link_to "Destroy", @exercise, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", exercises_path %>
</p>
