<% title "Exercise" %>

<p>
  <strong>Title:</strong>
  <%=h @exercise.title %>
</p>
<p>
  <strong>Chapter:</strong>
  <%=h @exercise.chapter %>
</p>
<p>
  <strong>Question:</strong>
  <%=h @exercise.question %>
</p>

<p>
	<%= link_to "Preview", preview_exercise_path(@exercise) %>
</p> 

<p>
  <%= link_to "Edit", edit_exercise_path(@exercise) %> |
  <%= link_to "Destroy", @exercise, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", exercises_path %>
</p>
